.main
  .text
    %h1 Exploring Hospital Violations using Elasticsearch
    %p Built for Track Maven's monthly challenge. Data provided freely from the <strong>Centers for Medicaid and Medicare Services (CMS)</strong>.
    %h3=link_to "Search Hospital Violations", search_path
    %p Built by Will Sankey, follow me at <strong>@WSankey</strong>
