// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
.main {
  text-align: center;
      background-image: url("graph.svg");
      height: 50em;
      margin: -4em 0 0 0;
      padding: 0 0 0 0;
}

.main a  {
  color: green;
  padding: 10px 10px 10px 10px;
}

.text {
  padding: 5em 0 0 0;
}

